# ローカルの環境変数がansibleから正しく読み込めているかチェック
# 適宜playbookが参照する環境変数に編集して使用する
# hostがallとなっているが、ローカルでのみ動くので動作には影響しない
- name: Check environment variables
  hosts: all
  gather_facts: no
  tasks:
    - name: Print ANSIBLE_USER
      debug:
        msg: "ANSIBLE_USER is {{ lookup('env', 'ANSIBLE_USER') }}"

    - name: Print ANSIBLE_SSH_PASS
      debug:
        msg: "ANSIBLE_SSH_PASS is {{ lookup('env', 'ANSIBLE_SSH_PASS') }}"

    - name: Print ANSIBLE_SSH_PRIVATE_KEY_FILE
      debug:
        msg: "ANSIBLE_SSH_PRIVATE_KEY_FILE is {{ lookup('env', 'ANSIBLE_SSH_PRIVATE_KEY_FILE') }}"