# set hosts and their properties in dictionary type object
# host key must be set by ip address for ssh to connect to.
MANAGED_HOSTS_DCT = {
    "192.168.0.100": {
        # ssh authentication attributes
        # if ssh_auth_method == password : both ssh_user and ssh_password are mandatory
        # else if ssh_auth_method == keypair -> ssh_secretkey_path is mandatory
        "ssh": {
            "ssh_auth_method": "password",  # password|keypair
            "ssh_user": "$ANSIBLE_USER",    # <ssh user>|$<ssh user env variable>|null
            "ssh_password": "$ANSIBLE_SSH_PASS", # <ssh pass>|$<ssh pass env variable>|null
            "ssh_secretkey_path": "$ANSIBLE_SSH_PRIVATE_KEY_FILE", # <ssh private key path>|$<ssh private key path env variable>|null
        },
        
        # mandatory host tags
        "name": "home_gw",
        "package_manager": "apt",

        # add host property tags as you like
        # key and value must be literal string like
        # "key1": "value1"
        "env": "dev",  # dev|test|staging|production

    },
    
    "192.168.0.101": {
        "ssh": {
            "ssh_auth_method": "password",  
            "ssh_user": "$ANSIBLE_USER",    
            "ssh_password": "$ANSIBLE_SSH_PASS", 
        },
        "name": "stdb1",
        "package_manager": "apt",
        "env": "dev", 
    },

    "192.168.0.134": {
        "ssh": {
            "ssh_auth_method": "password",  
            "ssh_user": "$ANSIBLE_USER",  
            "ssh_password": "$ANSIBLE_SSH_PASS", 
        },
        "name": "grafana1",
        "package_manager": "apt",
        "env": "dev",  
    },

    "192.168.0.137": {
        "ssh": {
            "ssh_auth_method": "password",  
            "ssh_user": "$ANSIBLE_USER",    
            "ssh_password": "$ANSIBLE_SSH_PASS", 
        },
        "name": "influxdb2",
        "package_manager": "apt",
        "env": "dev",  
    },
    "192.168.0.145": {
        "ssh": {
            "ssh_auth_method": "password",  
            "ssh_user": "$ANSIBLE_USER",    
            "ssh_password": "$ANSIBLE_SSH_PASS", 
            "ssh_secretkey_path": "$ANSIBLE_SSH_PRIVATE_KEY_FILE", 
        },
        "name": "django05",
        "package_manager": "apt",
        "env": "dev",  
    },
}
